In [1]:
import pymysql
from pandas import DataFrame
import pandas as pd 

host   = 'villagebikesdb.c2v2pmaab8cg.us-east-2.rds.amazonaws.com'
port   = 3306
user   = 'ssk'
passwd = 'villagebikes'
db     = 'VillageBikesDB'

cnx    = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db)
cur    = cnx.cursor()

query  = """SELECT * FROM weatherData"""
cur.execute(query)

field_names = [i[0] for i in cur.description]
get_data = [xx for xx in cur]

cur.close()
cnx.close()

df1 = DataFrame(get_data)
df1.columns = field_names
len(df1)

2259

In [2]:
df1['timestamp'] = pd.to_datetime(df1.timestamp,unit='s')

In [3]:
df1.head()

,timestamp,weather_id,main,description,temperature,humidity,wind_speed
0,2019-02-21 10:00:00,802,Clouds,scattered clouds,285.13,76.0,3.1
1,2019-02-21 11:30:00,802,Clouds,scattered clouds,285.64,71.0,5.1
2,2019-02-21 12:00:00,802,Clouds,scattered clouds,285.64,71.0,6.2
3,2019-02-21 12:30:00,802,Clouds,scattered clouds,285.64,66.0,5.7
4,2019-02-21 15:00:00,803,Clouds,broken clouds,286.15,62.0,8.2

In [4]:
df1 = df1.rename(index=str, columns={"timestamp": "last_update"})
df1.head()

,last_update,weather_id,main,description,temperature,humidity,wind_speed
0,2019-02-21 10:00:00,802,Clouds,scattered clouds,285.13,76.0,3.1
1,2019-02-21 11:30:00,802,Clouds,scattered clouds,285.64,71.0,5.1
2,2019-02-21 12:00:00,802,Clouds,scattered clouds,285.64,71.0,6.2
3,2019-02-21 12:30:00,802,Clouds,scattered clouds,285.64,66.0,5.7
4,2019-02-21 15:00:00,803,Clouds,broken clouds,286.15,62.0,8.2

In [5]:
import pymysql
from pandas import DataFrame
import pandas as pd 

host   = 'villagebikesdb.c2v2pmaab8cg.us-east-2.rds.amazonaws.com'
port   = 3306
user   = 'ssk'
passwd = 'villagebikes'
db     = 'VillageBikesDB'

cnx    = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db)
cur    = cnx.cursor()

query  = """SELECT * FROM dynamicData"""
cur.execute(query)

field_names = [i[0] for i in cur.description]
get_data = [xx for xx in cur]

cur.close()
cnx.close()

df2 = DataFrame(get_data)
df2.columns = field_names
len(df2)

848701

In [6]:
df2['last_update'] = pd.to_datetime(df2.last_update,unit='ms')

In [7]:
df2.head()

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking
0,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:47:26,1
1,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:57:35,1
2,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:07:43,1
3,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:17:52,1
4,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:24:01,1

In [8]:
len(df2)

848701

In [9]:
df1.dtypes

last_update    datetime64[ns]
weather_id              int64
main                   object
description            object
temperature           float64
humidity              float64
wind_speed            float64
dtype: object

In [10]:
df2.dtypes

number                       int64
name                        object
status                      object
bike_stands                  int64
available_bikes              int64
available_stands             int64
last_update         datetime64[ns]
banking                      int64
dtype: object

In [11]:
df1 = df1.sort_values(by=['last_update'])

In [12]:
df2 = df2.sort_values(by=['last_update'])

In [13]:
df2.head()

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking
222721,30,PARNELL SQUARE NORTH,OPEN,20,0,20,2019-02-21 16:45:01,1
781879,105,GRANGEGORMAN LOWER (NORTH),OPEN,36,9,27,2019-02-21 16:45:05,0
431672,55,HATCH STREET,OPEN,36,0,36,2019-02-21 16:45:11,0
725459,95,ROYAL HOSPITAL,OPEN,40,5,35,2019-02-21 16:45:17,1
327511,41,HARCOURT TERRACE,OPEN,20,1,19,2019-02-21 16:45:25,0

In [14]:
df3 = pd.merge_asof(df2,df1, on='last_update', direction='nearest')
df3

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking,weather_id,main,description,temperature,humidity,wind_speed
0,30,PARNELL SQUARE NORTH,OPEN,20,0,20,2019-02-21 16:45:01,1,803,Clouds,broken clouds,284.15,71.0,6.2
1,105,GRANGEGORMAN LOWER (NORTH),OPEN,36,9,27,2019-02-21 16:45:05,0,803,Clouds,broken clouds,284.15,71.0,6.2
2,55,HATCH STREET,OPEN,36,0,36,2019-02-21 16:45:11,0,803,Clouds,broken clouds,284.15,71.0,6.2
3,95,ROYAL HOSPITAL,OPEN,40,5,35,2019-02-21 16:45:17,1,803,Clouds,broken clouds,284.15,71.0,6.2
4,41,HARCOURT TERRACE,OPEN,20,1,19,2019-02-21 16:45:25,0,803,Clouds,broken clouds,284.15,71.0,6.2
5,113,MERRION SQUARE SOUTH,OPEN,40,33,7,2019-02-21 16:45:32,1,803,Clouds,broken clouds,284.15,71.0,6.2
6,61,HARDWICKE PLACE,OPEN,25,0,25,2019-02-21 16:45:41,1,803,Clouds,broken clouds,284.15,71.0,6.2
7,82,MOUNT BROWN,OPEN,22,0,22,2019-02-21 16:45:56,0,803,Clouds,broken clouds,284.15,71.0,6.2
8,79,ECCLES STREET EAST,OPEN,27,0,27,2019-02-21 16:46:31,0,803,Clouds,broken clouds,284.15,71.0,6.2
9,13,FITZWILLIAM SQUARE WEST,OPEN,30,18,11,2019-02-21 16:47:08,0,803,Clouds,broken clouds,284.15,71.0,6.2
10,90,BENSON STREET,OPEN,40,19,21,2019-02-21 16:47:20,0,803,Clouds,broken clouds,284.15,71.0,6.2
11,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:47:26,1,803,Clouds,broken clouds,284.15,71.0,6.2
12,94,HEUSTON STATION (CAR PARK),OPEN,40,0,40,2019-02-21 16:47:58,0,803,Clouds,broken clouds,284.15,71.0,6.2
13,106,RATHDOWN ROAD,OPEN,40,3,37,2019-02-21 16:48:11,0,803,Clouds,broken clouds,284.15,71.0,6.2
14,110,PHIBSBOROUGH ROAD,OPEN,40,1,39,2019-02-21 16:48:20,0,803,Clouds,broken clouds,284.15,71.0,6.2
15,81,ST. JAMES HOSPITAL (CENTRAL),OPEN,40,0,40,2019-02-21 16:48:22,0,803,Clouds,broken clouds,284.15,71.0,6.2
16,111,MOUNTJOY SQUARE EAST,OPEN,40,2,38,2019-02-21 16:48:28,1,803,Clouds,broken clouds,284.15,71.0,6.2
17,10,DAME STREET,OPEN,16,0,16,2019-02-21 16:48:59,1,803,Clouds,broken clouds,284.15,71.0,6.2
18,3,BOLTON STREET,OPEN,20,0,20,2019-02-21 16:49:04,0,803,Clouds,broken clouds,284.15,71.0,6.2
19,108,AVONDALE ROAD,OPEN,40,1,38,2019-02-21 16:49:10,0,803,Clouds,broken clouds,284.15,71.0,6.2
20,102,WESTERN WAY,OPEN,40,7,33,2019-02-21 16:49:25,0,803,Clouds,broken clouds,284.15,71.0,6.2
21,84,BROOKFIELD ROAD,OPEN,30,1,29,2019-02-21 16:49:28,0,803,Clouds,broken clouds,284.15,71.0,6.2
22,15,HARDWICKE STREET,OPEN,16,0,16,2019-02-21 16:49:29,0,803,Clouds,broken clouds,284.15,71.0,6.2
23,76,MARKET STREET SOUTH,OPEN,38,5,33,2019-02-21 16:49:31,0,803,Clouds,broken clouds,284.15,71.0,6.2
24,52,YORK STREET EAST,OPEN,32,2,30,2019-02-21 16:49:34,0,803,Clouds,broken clouds,284.15,71.0,6.2
25,29,ORMOND QUAY UPPER,OPEN,29,0,29,2019-02-21 16:49:50,1,803,Clouds,broken clouds,284.15,71.0,6.2
26,7,HIGH STREET,OPEN,29,0,29,2019-02-21 16:49:51,1,803,Clouds,broken clouds,284.15,71.0,6.2
27,87,COLLINS BARRACKS MUSEUM,OPEN,38,1,37,2019-02-21 16:50:23,1,803,Clouds,broken clouds,284.15,71.0,6.2
28,109,BUCKINGHAM STREET LOWER,OPEN,29,7,22,2019-02-21 16:50:29,0,803,Clouds,broken clouds,284.15,71.0,6.2
29,96,KILMAINHAM LANE,OPEN,30,5,25,2019-02-21 16:50:43,0,803,Clouds,broken clouds,284.15,71.0,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848671,38,TALBOT STREET,OPEN,40,1,39,2019-03-28 11:20:29,0,800,Clear,clear sky,286.42,58.0,3.1
848672,13,FITZWILLIAM SQUARE WEST,OPEN,30,24,5,2019-03-28 11:20:30,0,800,Clear,clear sky,286.42,58.0,3.1
848673,84,BROOKFIELD ROAD,OPEN,30,1,29,2019-03-28 11:20:35,0,800,Clear,clear sky,286.42,58.0,3.1
848674,19,HERBERT PLACE,OPEN,30,19,11,2019-03-28 11:20:43,0,800,Clear,clear sky,286.42,58.0,3.1
848675,23,CUSTOM HOUSE,OPEN,30,0,30,2019-03-28 11:20:45,1,800,Clear,clear sky,286.42,58.0,3.1
848676,34,PORTOBELLO HARBOUR,OPEN,30,4,26,2019-03-28 11:20:53,0,800,Clear,clear sky,286.42,58.0,3.1
848677,39,WILTON TERRACE,OPEN,20,3,17,2019-03-28 11:20:58,1,800,Clear,clear sky,286.42,58.0,3.1
848678,3,BOLTON STREET,OPEN,20,1,19,2019-03-28 11:21:00,0,800,Clear,clear sky,286.42,58.0,3.1
848679,44,UPPER SHERRARD STREET,OPEN,30,0,30,2019-03-28 11:21:00,0,800,Clear,clear sky,286.42,58.0,3.1
848680,25,MERRION SQUARE EAST,OPEN,30,25,4,2019-03-28 11:21:01,0,800,Clear,clear sky,286.42,58.0,3.1
848681,25,MERRION SQUARE EAST,OPEN,30,25,4,2019-03-28 11:21:04,0,800,Clear,clear sky,286.42,58.0,3.1
848682,91,SOUTH DOCK ROAD,OPEN,30,12,18,2019-03-28 11:21:04,0,800,Clear,clear sky,286.42,58.0,3.1
848683,95,ROYAL HOSPITAL,OPEN,40,2,38,2019-03-28 11:21:06,1,800,Clear,clear sky,286.42,58.0,3.1
848684,84,BROOKFIELD ROAD,OPEN,30,0,30,2019-03-28 11:21:12,0,800,Clear,clear sky,286.42,58.0,3.1
848685,75,JAMES STREET,OPEN,40,1,39,2019-03-28 11:21:19,1,800,Clear,clear sky,286.42,58.0,3.1
848686,41,HARCOURT TERRACE,OPEN,20,14,6,2019-03-28 11:21:22,0,800,Clear,clear sky,286.42,58.0,3.1
848687,71,KEVIN STREET,OPEN,40,1,39,2019-03-28 11:21:24,1,800,Clear,clear sky,286.42,58.0,3.1
848688,54,CLONMEL STREET,OPEN,33,6,27,2019-03-28 11:21:26,0,800,Clear,clear sky,286.42,58.0,3.1
848689,115,KILLARNEY STREET,OPEN,30,15,15,2019-03-28 11:21:26,0,800,Clear,clear sky,286.42,58.0,3.1
848690,99,CITY QUAY,OPEN,30,23,7,2019-03-28 11:21:29,0,800,Clear,clear sky,286.42,58.0,3.1
848691,104,GRANGEGORMAN LOWER (CENTRAL),OPEN,40,16,24,2019-03-28 11:21:34,1,800,Clear,clear sky,286.42,58.0,3.1
848692,56,MOUNT STREET LOWER,OPEN,40,28,12,2019-03-28 11:21:35,0,800,Clear,clear sky,286.42,58.0,3.1
848693,50,GEORGES LANE,OPEN,40,1,39,2019-03-28 11:21:40,0,800,Clear,clear sky,286.42,58.0,3.1
848694,94,HEUSTON STATION (CAR PARK),OPEN,40,0,40,2019-03-28 11:21:52,0,800,Clear,clear sky,286.42,58.0,3.1
848695,83,EMMET ROAD,OPEN,40,0,40,2019-03-28 11:21:52,0,800,Clear,clear sky,286.42,58.0,3.1
848696,42,SMITHFIELD NORTH,OPEN,30,1,29,2019-03-28 11:21:53,1,800,Clear,clear sky,286.42,58.0,3.1
848697,72,JOHN STREET WEST,OPEN,31,6,25,2019-03-28 11:21:55,0,800,Clear,clear sky,286.42,58.0,3.1
848698,21,LEINSTER STREET SOUTH,OPEN,30,24,6,2019-03-28 11:21:56,0,800,Clear,clear sky,286.42,58.0,3.1
848699,34,PORTOBELLO HARBOUR,OPEN,30,5,25,2019-03-28 11:21:58,0,800,Clear,clear sky,286.42,58.0,3.1
848700,33,PRINCES STREET / O'CONNELL STREET,OPEN,23,10,13,2019-03-28 11:22:00,1,800,Clear,clear sky,286.42,58.0,3.1

In [15]:
df3['last_update'] = pd.to_datetime(df3.last_update, unit='ms')

In [16]:
df3.to_csv('full_dataframe.csv')