In [1]:
import pymysql
from pandas import DataFrame
import pandas as pd 

host   = 'villagebikesdb.c2v2pmaab8cg.us-east-2.rds.amazonaws.com'
port   = 3306
user   = 'ssk'
passwd = 'villagebikes'
db     = 'VillageBikesDB'

cnx    = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db)
cur    = cnx.cursor()

query  = """SELECT * FROM weatherData"""
cur.execute(query)

field_names = [i[0] for i in cur.description]
get_data = [xx for xx in cur]

cur.close()
cnx.close()

df1 = DataFrame(get_data)
df1.columns = field_names
len(df1)

2257

In [2]:
df1['timestamp'] = pd.to_datetime(df1.timestamp,unit='s')

In [3]:
df1.head()

,timestamp,weather_id,main,description,temperature,humidity,wind_speed
0,2019-02-21 10:00:00,802,Clouds,scattered clouds,285.13,76.0,3.1
1,2019-02-21 11:30:00,802,Clouds,scattered clouds,285.64,71.0,5.1
2,2019-02-21 12:00:00,802,Clouds,scattered clouds,285.64,71.0,6.2
3,2019-02-21 12:30:00,802,Clouds,scattered clouds,285.64,66.0,5.7
4,2019-02-21 15:00:00,803,Clouds,broken clouds,286.15,62.0,8.2

In [4]:
df1 = df1.rename(index=str, columns={"timestamp": "last_update"})
df1.head()

,last_update,weather_id,main,description,temperature,humidity,wind_speed
0,2019-02-21 10:00:00,802,Clouds,scattered clouds,285.13,76.0,3.1
1,2019-02-21 11:30:00,802,Clouds,scattered clouds,285.64,71.0,5.1
2,2019-02-21 12:00:00,802,Clouds,scattered clouds,285.64,71.0,6.2
3,2019-02-21 12:30:00,802,Clouds,scattered clouds,285.64,66.0,5.7
4,2019-02-21 15:00:00,803,Clouds,broken clouds,286.15,62.0,8.2

In [5]:
import pymysql
from pandas import DataFrame
import pandas as pd 

host   = 'villagebikesdb.c2v2pmaab8cg.us-east-2.rds.amazonaws.com'
port   = 3306
user   = 'ssk'
passwd = 'villagebikes'
db     = 'VillageBikesDB'

cnx    = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db)
cur    = cnx.cursor()

query  = """SELECT * FROM dynamicData LIMIT 500"""
cur.execute(query)

field_names = [i[0] for i in cur.description]
get_data = [xx for xx in cur]

cur.close()
cnx.close()

df2 = DataFrame(get_data)
df2.columns = field_names
len(df2)

500

In [6]:
df2['last_update'] = pd.to_datetime(df2.last_update,unit='ms')

In [7]:
df2.head()

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking
0,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:47:26,1
1,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:57:35,1
2,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:07:43,1
3,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:17:52,1
4,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:24:01,1

In [8]:
len(df2)

500

In [9]:
df1.dtypes

last_update    datetime64[ns]
weather_id              int64
main                   object
description            object
temperature           float64
humidity              float64
wind_speed            float64
dtype: object

In [10]:
df2.dtypes

number                       int64
name                        object
status                      object
bike_stands                  int64
available_bikes              int64
available_stands             int64
last_update         datetime64[ns]
banking                      int64
dtype: object

In [11]:
df1 = df1.sort_values(by=['last_update'])

In [12]:
df2 = df2.sort_values(by=['last_update'])

In [13]:
df2.head()

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking
0,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:47:26,1
1,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:57:35,1
2,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:07:43,1
3,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:17:52,1
4,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:24:01,1

In [14]:
df3 = pd.merge_asof(df2,df1, on='last_update', direction='nearest')
df3

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking,weather_id,main,description,temperature,humidity,wind_speed
0,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:47:26,1,803,Clouds,broken clouds,284.15,71.0,6.2
1,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 16:57:35,1,803,Clouds,broken clouds,284.15,71.0,6.2
2,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:07:43,1,803,Clouds,broken clouds,284.15,71.0,6.2
3,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:17:52,1,803,Clouds,broken clouds,284.15,71.0,7.2
4,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:24:01,1,803,Clouds,broken clouds,284.15,71.0,7.2
5,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:24:54,1,803,Clouds,broken clouds,284.15,71.0,7.2
6,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:25:06,1,803,Clouds,broken clouds,284.15,71.0,7.2
7,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:30:12,1,803,Clouds,broken clouds,284.15,71.0,7.2
8,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:40:21,1,803,Clouds,broken clouds,284.15,71.0,7.2
9,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:45:19,1,803,Clouds,broken clouds,284.15,71.0,6.7
10,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 17:48:01,1,803,Clouds,broken clouds,284.15,71.0,6.7
11,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:48:55,1,803,Clouds,broken clouds,284.15,71.0,6.7
12,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 17:49:42,1,803,Clouds,broken clouds,284.15,71.0,6.7
13,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-21 17:58:57,1,803,Clouds,broken clouds,284.15,71.0,6.7
14,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-21 17:59:12,1,803,Clouds,broken clouds,284.15,71.0,6.7
15,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-21 18:00:55,1,803,Clouds,broken clouds,284.15,71.0,6.7
16,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 18:01:56,1,803,Clouds,broken clouds,284.15,71.0,6.7
17,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 18:05:46,1,803,Clouds,broken clouds,284.15,71.0,6.7
18,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 18:06:12,1,803,Clouds,broken clouds,284.15,71.0,6.7
19,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 18:08:51,1,803,Clouds,broken clouds,284.15,71.0,6.7
20,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-21 18:09:22,1,803,Clouds,broken clouds,284.15,71.0,6.7
21,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-21 18:14:47,1,803,Clouds,broken clouds,284.15,71.0,6.7
22,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-21 18:16:33,1,803,Clouds,broken clouds,284.15,71.0,4.6
23,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 18:21:35,1,803,Clouds,broken clouds,284.15,71.0,4.6
24,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 18:25:55,1,803,Clouds,broken clouds,284.15,71.0,4.6
25,2,BLESSINGTON STREET,OPEN,20,5,15,2019-02-21 18:26:42,1,803,Clouds,broken clouds,284.15,71.0,4.6
26,2,BLESSINGTON STREET,OPEN,20,5,15,2019-02-21 18:32:54,1,803,Clouds,broken clouds,284.15,71.0,4.6
27,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 18:43:51,1,803,Clouds,broken clouds,284.15,71.0,4.6
28,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 18:44:25,1,803,Clouds,broken clouds,284.15,71.0,4.6
29,2,BLESSINGTON STREET,OPEN,20,4,16,2019-02-21 18:45:48,1,803,Clouds,broken clouds,283.15,76.0,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 13:27:49,1,803,Clouds,broken clouds,285.72,87.0,5.7
471,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 13:28:24,1,803,Clouds,broken clouds,285.72,87.0,5.7
472,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 13:38:34,1,803,Clouds,broken clouds,285.72,87.0,5.7
473,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 13:48:43,1,803,Clouds,broken clouds,286.15,76.0,6.2
474,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 13:58:52,1,803,Clouds,broken clouds,286.15,76.0,6.2
475,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 14:09:01,1,803,Clouds,broken clouds,286.15,76.0,6.2
476,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 14:17:20,1,803,Clouds,broken clouds,286.15,71.0,4.6
477,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-23 14:19:33,1,803,Clouds,broken clouds,286.15,71.0,4.6
478,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-23 14:24:07,1,803,Clouds,broken clouds,286.15,71.0,4.6
479,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-23 14:30:59,1,803,Clouds,broken clouds,286.15,71.0,4.6
480,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-23 14:31:38,1,803,Clouds,broken clouds,286.15,71.0,4.6
481,2,BLESSINGTON STREET,OPEN,20,3,17,2019-02-23 14:36:00,1,803,Clouds,broken clouds,286.15,71.0,4.6
482,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-23 14:36:33,1,803,Clouds,broken clouds,286.15,71.0,4.6
483,2,BLESSINGTON STREET,OPEN,20,2,18,2019-02-23 14:38:46,1,803,Clouds,broken clouds,286.15,71.0,4.6
484,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 14:39:18,1,803,Clouds,broken clouds,286.15,71.0,4.6
485,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 14:49:28,1,803,Clouds,broken clouds,286.15,76.0,4.1
486,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 14:59:37,1,803,Clouds,broken clouds,286.15,76.0,4.1
487,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 15:02:37,1,803,Clouds,broken clouds,286.15,76.0,4.1
488,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 15:03:53,1,803,Clouds,broken clouds,286.15,76.0,4.1
489,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 15:12:29,1,803,Clouds,broken clouds,286.15,76.0,4.1
490,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 15:17:52,1,803,Clouds,broken clouds,286.15,76.0,4.6
491,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 15:28:01,1,803,Clouds,broken clouds,286.15,76.0,4.6
492,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 15:38:52,1,803,Clouds,broken clouds,286.15,76.0,4.6
493,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 15:49:01,1,803,Clouds,broken clouds,286.15,76.0,4.6
494,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 15:58:58,1,803,Clouds,broken clouds,286.15,76.0,4.6
495,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 16:00:28,1,803,Clouds,broken clouds,286.15,76.0,4.6
496,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 16:06:00,1,803,Clouds,broken clouds,286.15,76.0,4.6
497,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 16:16:09,1,802,Clouds,scattered clouds,286.58,67.0,4.6
498,2,BLESSINGTON STREET,OPEN,20,1,19,2019-02-23 16:24:28,1,802,Clouds,scattered clouds,286.58,67.0,4.6
499,2,BLESSINGTON STREET,OPEN,20,0,20,2019-02-23 16:25:07,1,802,Clouds,scattered clouds,286.58,67.0,4.6

In [15]:
df3['last_update'] = pd.to_datetime(df3.last_update, unit='ms')

In [16]:
df3.to_csv('full_dataframe.csv')