In [1]:
import pymysql
from pandas import DataFrame
import pandas as pd 

host   = 'villagebikesdb.c2v2pmaab8cg.us-east-2.rds.amazonaws.com'
port   = 3306
user   = 'ssk'
passwd = 'villagebikes'
db     = 'VillageBikesDB'

cnx    = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db)
cur    = cnx.cursor()

query  = """SELECT * FROM weatherData"""
cur.execute(query)

field_names = [i[0] for i in cur.description]
get_data = [xx for xx in cur]

cur.close()
cnx.close()

df1 = DataFrame(get_data)
df1.columns = field_names
len(df1)

1782

In [2]:
df1.head()

,timestamp,weather_id,main,description,temperature,humidity,wind_speed
0,1550743200,802,Clouds,scattered clouds,285.13,76.0,3.1
1,1550748600,802,Clouds,scattered clouds,285.64,71.0,5.1
2,1550750400,802,Clouds,scattered clouds,285.64,71.0,6.2
3,1550752200,802,Clouds,scattered clouds,285.64,66.0,5.7
4,1550761200,803,Clouds,broken clouds,286.15,62.0,8.2

In [3]:
df1 = df1.rename(index=str, columns={"timestamp": "last_update"})
df1.head()

,last_update,weather_id,main,description,temperature,humidity,wind_speed
0,1550743200,802,Clouds,scattered clouds,285.13,76.0,3.1
1,1550748600,802,Clouds,scattered clouds,285.64,71.0,5.1
2,1550750400,802,Clouds,scattered clouds,285.64,71.0,6.2
3,1550752200,802,Clouds,scattered clouds,285.64,66.0,5.7
4,1550761200,803,Clouds,broken clouds,286.15,62.0,8.2

In [4]:
import pymysql
from pandas import DataFrame
import pandas as pd 

host   = 'villagebikesdb.c2v2pmaab8cg.us-east-2.rds.amazonaws.com'
port   = 3306
user   = 'ssk'
passwd = 'villagebikes'
db     = 'VillageBikesDB'

cnx    = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db)
cur    = cnx.cursor()

query  = """SELECT * FROM dynamicData"""
cur.execute(query)

field_names = [i[0] for i in cur.description]
get_data = [xx for xx in cur]

cur.close()
cnx.close()

df2 = DataFrame(get_data)
df2.columns = field_names
len(df2)

652359

In [5]:
df2.head()

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking
0,2,BLESSINGTON STREET,OPEN,20,3,17,1550767646000,1
1,2,BLESSINGTON STREET,OPEN,20,3,17,1550768255000,1
2,2,BLESSINGTON STREET,OPEN,20,3,17,1550768863000,1
3,2,BLESSINGTON STREET,OPEN,20,4,16,1550769472000,1
4,2,BLESSINGTON STREET,OPEN,20,4,16,1550769841000,1

In [6]:
len(df2)

652359

In [7]:
df1.dtypes

last_update      int64
weather_id       int64
main            object
description     object
temperature    float64
humidity       float64
wind_speed     float64
dtype: object

In [8]:
df2.dtypes

number               int64
name                object
status              object
bike_stands          int64
available_bikes      int64
available_stands     int64
last_update          int64
banking              int64
dtype: object

In [9]:
df1 = df1.sort_values(by=['last_update'])

In [10]:
df2 = df2.sort_values(by=['last_update'])

In [11]:
df2.head()

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking
171294,30,PARNELL SQUARE NORTH,OPEN,20,0,20,1550767501000,1
601122,105,GRANGEGORMAN LOWER (NORTH),OPEN,36,9,27,1550767505000,0
332213,55,HATCH STREET,OPEN,36,0,36,1550767511000,0
558038,95,ROYAL HOSPITAL,OPEN,40,5,35,1550767517000,1
251850,41,HARCOURT TERRACE,OPEN,20,1,19,1550767525000,0

In [12]:
df3 = pd.merge_asof(df2,df1, on='last_update', direction='nearest')
df3

,number,name,status,bike_stands,available_bikes,available_stands,last_update,banking,weather_id,main,description,temperature,humidity,wind_speed
0,30,PARNELL SQUARE NORTH,OPEN,20,0,20,1550767501000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
1,105,GRANGEGORMAN LOWER (NORTH),OPEN,36,9,27,1550767505000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
2,55,HATCH STREET,OPEN,36,0,36,1550767511000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
3,95,ROYAL HOSPITAL,OPEN,40,5,35,1550767517000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
4,41,HARCOURT TERRACE,OPEN,20,1,19,1550767525000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
5,113,MERRION SQUARE SOUTH,OPEN,40,33,7,1550767532000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
6,61,HARDWICKE PLACE,OPEN,25,0,25,1550767541000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
7,82,MOUNT BROWN,OPEN,22,0,22,1550767556000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
8,79,ECCLES STREET EAST,OPEN,27,0,27,1550767591000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
9,13,FITZWILLIAM SQUARE WEST,OPEN,30,18,11,1550767628000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
10,90,BENSON STREET,OPEN,40,19,21,1550767640000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
11,2,BLESSINGTON STREET,OPEN,20,3,17,1550767646000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
12,94,HEUSTON STATION (CAR PARK),OPEN,40,0,40,1550767678000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
13,106,RATHDOWN ROAD,OPEN,40,3,37,1550767691000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
14,110,PHIBSBOROUGH ROAD,OPEN,40,1,39,1550767700000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
15,81,ST. JAMES HOSPITAL (CENTRAL),OPEN,40,0,40,1550767702000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
16,111,MOUNTJOY SQUARE EAST,OPEN,40,2,38,1550767708000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
17,10,DAME STREET,OPEN,16,0,16,1550767739000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
18,3,BOLTON STREET,OPEN,20,0,20,1550767744000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
19,108,AVONDALE ROAD,OPEN,40,1,38,1550767750000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
20,102,WESTERN WAY,OPEN,40,7,33,1550767765000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
21,84,BROOKFIELD ROAD,OPEN,30,1,29,1550767768000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
22,15,HARDWICKE STREET,OPEN,16,0,16,1550767769000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
23,76,MARKET STREET SOUTH,OPEN,38,5,33,1550767771000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
24,52,YORK STREET EAST,OPEN,32,2,30,1550767774000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
25,29,ORMOND QUAY UPPER,OPEN,29,0,29,1550767790000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
26,7,HIGH STREET,OPEN,29,0,29,1550767791000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
27,87,COLLINS BARRACKS MUSEUM,OPEN,38,1,37,1550767823000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
28,109,BUCKINGHAM STREET LOWER,OPEN,29,7,22,1550767829000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
29,96,KILMAINHAM LANE,OPEN,30,5,25,1550767843000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652329,95,ROYAL HOSPITAL,OPEN,40,20,20,1552740819000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
652330,100,HEUSTON BRIDGE (SOUTH),OPEN,25,20,5,1552740823000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652331,92,HEUSTON BRIDGE (NORTH),OPEN,40,20,20,1552740825000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652332,9,EXCHEQUER STREET,OPEN,24,18,6,1552740826000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652333,38,TALBOT STREET,OPEN,40,38,2,1552740830000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652334,65,CONVENTION CENTRE,OPEN,40,6,34,1552740837000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
652335,69,GRAND CANAL DOCK,OPEN,40,15,25,1552740841000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652336,76,MARKET STREET SOUTH,OPEN,38,23,15,1552740842000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652337,28,MOUNTJOY SQUARE WEST,OPEN,30,15,15,1552740850000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652338,51,YORK STREET WEST,OPEN,40,20,20,1552740854000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652339,68,HANOVER QUAY,OPEN,40,17,23,1552740854000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
652340,22,TOWNSEND STREET,OPEN,20,20,0,1552740856000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652341,64,SANDWITH STREET,OPEN,40,14,26,1552740857000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
652342,83,EMMET ROAD,OPEN,40,5,35,1552740862000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652343,9,EXCHEQUER STREET,OPEN,24,18,6,1552740864000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652344,13,FITZWILLIAM SQUARE WEST,OPEN,30,9,21,1552740869000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652345,29,ORMOND QUAY UPPER,OPEN,29,13,16,1552740873000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
652346,107,CHARLEVILLE ROAD,OPEN,40,5,35,1552740876000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
652347,69,GRAND CANAL DOCK,OPEN,40,15,25,1552740876000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652348,114,WILTON TERRACE (PARK),OPEN,40,8,32,1552740877000,1,802,Clouds,scattered clouds,283.04,81.0,2.1
652349,101,KING STREET NORTH,OPEN,30,0,30,1552740881000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652350,17,GOLDEN LANE,OPEN,20,4,16,1552740881000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652351,82,MOUNT BROWN,OPEN,22,4,18,1552740887000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652352,60,NORTH CIRCULAR ROAD,OPEN,30,11,19,1552740895000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652353,67,THE POINT,OPEN,40,7,33,1552740897000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652354,35,SMITHFIELD,OPEN,30,2,28,1552740897000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652355,45,DEVERELL PLACE,OPEN,30,30,0,1552740897000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652356,112,NORTH CIRCULAR ROAD (O'CONNELL'S),OPEN,30,5,25,1552740901000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652357,14,FOWNES STREET UPPER,OPEN,30,21,9,1552740901000,0,802,Clouds,scattered clouds,283.04,81.0,2.1
652358,72,JOHN STREET WEST,OPEN,31,18,13,1552740902000,0,802,Clouds,scattered clouds,283.04,81.0,2.1

In [13]:
df3['last_update'] = pd.to_datetime(df3.last_update, unit='ms')

In [14]:
df3.to_csv('full_dataframe.csv')